.presentation {
	text-align: justify;
	 text-justify: inter-word;
}

.container-fluid{
	background-color: white;
}

.belzebuthpicture {
	border: 10px solid black;
}

#first {

margin-top:20px;
margin-right: 0px;
}

.about {
	margin-top: 5px;
	margin-bottom: 3px;
}

.abc {
  border-left: 1px solid #444444 ;;
}

.border-bottom {
  border-bottom: 1px solid red;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.contactitle {
padding-top: 30px;
}

.submit {
background-color: orange;
border-color: orange;
}

.belzebuth {
font-family: 'Amatic SC', cursive;
font-size: 6vw;
letter-spacing: 4px;
}

.navbar-nav {
text-align:  center;
}

.form-control {
	height: 100px;
	border: 10px solid black;
}

#exampleFormControlInput1 {
	font-size: 1.5vw;
	border: 1px solid #444444 ;
}


#exampleFormControlTextarea1 {
	height: 8vw;
	border: 1px solid #444444 ;
}

.textarea {
	font-size: 1.5vw;
}


.shame {
	margin-top: 35px;
	text-align: center;
}

.submit {
	height: 75px;
	width: 200px;
	font-size: 35px;
}

.fonts_title {
	font-size: 20px;
}

.fonts {
	font-size: 15px;
}
