

body {
/*font-family: 'Roboto';*/
}

#first {
background-color: red;
margin-top:20px;
margin-right: 0px;
}

.abc {
  background-color: yellow;
  border-left: 5px solid grey;
}

.border-bottom {
  border-bottom: 1px solid red;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.contactitle {
padding-top: 30px;
}

.submit {
width: 150px;
}

.belzebuth {
font-family: 'Amatic SC', cursive;
font-size: 7vw;
letter-spacing: 6px;
}

.navbar-nav {
text-align:  center;
}
