
.gallery_product {
	margin-bottom: 30px;
	margin-top: 60px;
}

.container_image {
  position: relative;
  width: 100%;
  padding: 0;
  margin-right: 10px;
  margin-left:10px;
  margin-top:10px;
  
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .7s ease;
  background-color: floralwhite;
  border-radius: 5px;
}

.container_image:hover .overlay {
  opacity: 0.5;
 
}

.row {
  margin-left:0px;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* titre de la gallery*/

h2 {
	text-align: center;
	margin-top: 60px

}

