/* CSS OVERLAY HOME */

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* CSS OVERLAY HOME */


.nav-item, .navbar-item{

	font-size: 20px;
  padding-right: 20px;
  padding-left: ;
}

.logoWhite {
color: #F1EDEB;
}


h1{
font-family: 'Amatic SC';
font-size: 60px;
}

p{
	font-family: 'Arial, Helvetica, sans-serif';
	font-color: #c0c1c4;
}

/*body (police à définir !)*/

 .carousel-inner img {
      width: 100%;
      height: 50%;
  }

  .belzebuth {
font-family: 'Amatic SC', cursive;
font-size: 6vw;
letter-spacing: 4px;
text-align: center;
}

#intros, #intros2{

margin-top:40px;

}

#rourou{
	height: 10px;
	width: 100%;
  margin-top: 50px;
}

.navbar {
   background-color: #F1EDEB;
}

.navbar-nav > li {
	font-size: 4vw;

}

.dropdown-menu {
	font-size: 3vw;
}

.fb-ic, .tw-ic, .ins-ic, .pin-ic {
  font-size: 3vw;
}

.copy {
  font-size: 2vw;
}

footer {
  margin-top: 50px;

